<div class="heroes-menu">
  <div *ngFor="let hero of heroes" class="card square-20 border-0 border text-center text-primary open-pointer" (click)="setHeroInBattle(hero)">
    <!-- <div>

    </div> -->
    <img class="card-img-top" [ngClass]="getRankCss(hero.rarity)" [src]="hero?.imgSrc" alt="Item image load failed"/>
      {{hero.name}}
  </div>
</div>
<button type="button" class="btn btn-primary" *ngIf="!isPlaying" (click)="onPlay()">Play</button>
<div class="row" *ngIf="isPlaying">
  <div class="col">
    <div class="row">
      <h4>Hero:</h4>
      <div class="col-4" *ngFor="let heroBattle of getHeroInBattle ">
        <div class="card open-pointer">
          <img class="card-img-top border-rarity border-danger" [src]="heroBattle?.imgSrc" alt="Item image load failed"/>
          {{heroBattle.name}}
        </div>
      </div>
    </div>
  </div>
  <div class="col">

  </div>
</div>

