<div class="heroes-menu">
  <div *ngFor="let hero of heroes" class="card square-20 border-0 border text-center text-primary open-pointer" (click)="setHeroInBattle(hero)">
    <!-- <div>

    </div> -->
    <img class="card-img-top" [ngClass]="getRankCss(hero.rarity)" [src]="hero?.imgSrc" alt="Item image load failed"/>
    <span class="text-center">{{hero.name}}</span>
  </div>
</div>
<h2 class="text-center">{{gameState}} Stage</h2>
<button type="button" class="btn btn-primary" *ngIf="gameState === states.prepare" (click)="onDonePrepare()">End Prepare turn</button>
<button type="button" class="btn btn-primary" *ngIf="gameState === states.ready" (click)="onStartFight()">Fight</button>

<div class="row">
  <div class="col">
    <div class="row">
      <h4>Heroes:</h4>
      <div class="col-4" *ngFor="let heroBattle of getHeroInBattle" (click)="setHeroInBattle(heroBattle)">
        <div class="card open-pointer border-0 border">
          <img class="card-img-top" [ngClass]="getRankCss(heroBattle.rarity)" [src]="heroBattle?.imgSrc" alt="Item image load failed"/>
          <span class="text-center">{{'Lv' + heroBattle.lv + ' ' + heroBattle.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <h4>Monsters: {{monsters.length}}</h4>
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <div class="card open-pointer border-0 border" *ngIf="monsters.length > 0">
          <img class="card-img-top" [ngClass]="getRankCss(monsters[0].isElite ? 5 : 1)" [src]="monsters[0].imgSrc"
            alt="Item image load failed" />
          <span class="text-center">{{'Lv' + monsters[0].lv + ' ' + monsters[0].name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

